.popup {
    display: block;
    align-items: center;  
    position: fixed;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 400px;
    background-color: #f8f8f8;
    color: rgb(13, 13, 13); 
    border: 2px solid #787878;
    border-radius:8px;
    font-family: 'Inter', sans-serif;
    z-index: 9999;
    max-width: 95%;
}

/* .popup-header {
    padding-top:25%;
    text-align: center;
} */

.app-logo {
    padding: 10% 25%;
    width: 50%;
}

.language-selector {
    margin: 0 auto 15%;
    width: 60%;
    font-family: 'Inter', sans-serif;
    color: rgb(13, 13, 13); 
}
  
#language-dropdown {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    color: rgb(13, 13, 13); 
}

.change-lang-btn {
    opacity: 0;          
    visibility: hidden;   
    transition: opacity 0.5s ease-in-out, visibility 0s 0.5s;
    margin: 0 20%;
    width: 60%;
    height: 12%;
    border: 1px solid #000000;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    color: rgb(13, 13, 13); 
    cursor: pointer;
}

.change-lang-btn.visible {
    opacity: 1;            
    visibility: visible;   
    transition: opacity 0.5s ease-in-out;
}

.change-lang-btn:active {
    transform: scale(0.96);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.status {
    padding: 2% 5% 5% 5%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
    font-family: 'Inter', sans-serif;
    color: rgb(82, 78, 78);
    font-size: 10px;
    text-align: center;
}
  
.status.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out;
}